<?xml version="1.0"?>

<launch>

  <!-- rosbridge -->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" > 
    <arg name="port" value="9090"/>
  </include>

  <!-- odom -->
  <include file="$(find BaseNode)/launch/base_connect.launch"/>

  <!-- laser -->
  <include file="$(find laser)/launch/rplidar_s1_.launch"/>

  <!-- Arguments -->
  <arg name="map_file" default="$(find M03_navigation)maps/map_revise.yaml"/><!--revise-->

  <!-- tf -->
  <node name="tf_broadcaster" pkg="tf_broadcaster" type="tf_broadcaster" respawn="false"  required="true"/> 

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"  required="true"/>

  <!-- AMCL -->
  <include file="$(find M03_navigation)/launch/amcl.launch" />

  <!-- move_base -->
  <include file="$(find M03_navigation)/launch/move_base.launch"/>

  <!-- auto_charge -->
  <!-- <include file="$(find auto_charge_service)/launch/auto_charge.launch"/> -->
    
  <!-- rviz -->
  <!-- <node pkg="rviz" type="rviz" name="rviz" output="screen"  required="true"/> -->

  <!-- robot pose -->
  <!-- <node name="robot_pose_publisher" pkg="robot_pose_publisher" type="robot_pose_publisher" respawn="false"  required="true"/>  -->

</launch>
