<?xml version="1.0"?>

<launch>

  <!-- odom -->
  <include file="$(find BaseNode)/launch/base_connect.launch"/>

  <!-- laser -->
  <include file="$(find laser)/launch/rplidar_s1_.launch"/>
  
  <!-- Arguments -->
  
  <arg name="map_file" default="$(find M03_navigation)maps/karto_map.yaml"/>

  <node name="tf_broadcaster" pkg="tf_broadcaster" type="tf_broadcaster" respawn="false"/> 

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find M03_navigation)/launch/amcl.launch" />

  <!-- move_base -->
  <include file="$(find M03_navigation)/launch/move_base.launch"/>
    
  <!-- rviz -->
  <node pkg="rviz" type="rviz" name="rviz" output="screen"/>

</launch>
